.chatroom-page {
    overflow: hidden;
    align-items: center;
    display: flex;
    width: 100%;
    background: #FCEAE7;
    height: 100dvh;
    font-size: 1em;
    padding: 5px;
}

.sidenav {
    background: white;
    width: 23%;
    height: fit-content;
    border-radius: 20px;
    padding: 20px 0 20px 0;
}

.nav-logo-title {
    padding: 0px 0 10px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-logo-image {
    margin-right: 4px;
    width: 35px;
}

.nav-logo-image img {
    width: 100%;
}

.nav-logo-text {
    font-size: 1.3em;
    font-weight: 600;
}

.newchat-search {
    padding: 0 25px 0 25px;
    display: flex;
    width: 100%;
    height: 36px;
}


.newchat {
    transition: 0.3s ease-out;
    cursor: pointer;
    font-size: 0.78em;
    margin-right: 15px;
    border-radius: 20px;
    display: flex;
    background: #FF3D00;
    color: #fff;
    width: 210px;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.newchat-image {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 37px;
    height: 37px;
}   

.newchat-image img {
    height: 17px;
}

.expand  {
    width: 210px !important;
    background: #0000 !important;
    border: 1px solid black;

}

.expand .icon-input {
    transition: 0.5s linear;
    opacity: 1;
    display: flex;
}

.expand .icon-close {
    display: flex;
    color: #000000;
}

.expand .icon-search {
    display: none;
}

.collapse {
    width: 37px !important;
}

.newchat-text {
    margin-left: -6px;
    height: 100%;
    display: flex;
    align-items: center;
}

.collapse .newchat-text {
    display: none;
}


.search-icon {
    display: flex;
    align-items: center;
    justify-content: end;
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 0px;
    width: 37px;
    border-radius: 20px;
    transition: 0.3s ease-out;
}


.icon-input {
    opacity: 0;
    display: none;
}


.icon-input input{
    background: transparent;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

.icon-search {
    cursor: pointer;
    padding: 10px;
}

.icon-close {
    cursor: pointer;
    padding: 10px;
    display: none;
}

.search-icon:hover {
    border: 1px solid black;
}

.search-icon img{
    width: 16px;
    height: 16px;
}

.navlinks-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    margin-top: 20px;
    padding: 14px 25px 14px 25px;
    color: #757575;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
}

.navlinks-title div:nth-child(2) {
    color: #FF3D00;
    cursor: pointer;
}

.prev-chat-nav {
    overflow-x: hidden;
    height: 300px;
    max-height: 300px;
    padding: 10px 16px 0 16px;
}

.chat {
    margin-top: 6px;
    cursor: pointer;
    border-radius: 16px;
    padding: 0 20px 0 20px;
    font-size: 0.8em;
    height: 44px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    transition: 0.2s ease-out;
}

.chaticon-sentence {
    display: flex;
}

.chat img {
    margin-right: 6px;
    height: 17px;
}

.chat:hover {
    color: #FF3D00;
    background: #ffdbd0;
} 

.active {
    color: #FF3D00;
    background: #ffdbd0;
}

.active .chatimg,
.active .chatsentence {
    transform: translateX(10px);
}

.chat:hover .chatimg,
.chat:hover .chatsentence {
    transition: 0.3s ease-out;
    transform: translateX(10px);
}

.delete {  
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 39px;
    padding: 13px 7px 13px 13px;
    transition: 0.3s;
}

.delete:hover {
    transform: scale(1.2);
}

.delete img {
    width: 100%;
    height: 100%;
}

.chat:hover .delete {
    animation: slider 0.3s ease-out;
    display: flex;
}

.horinzontal-line {
    width: 100%;
}

.hr {
    width: 100%;
    height: 1px;
    background:  rgb(219, 219, 219);
}

.one {
    margin-bottom: 12px;
}

.settings-account {
    padding: 25px;
    display: flex;
    flex-direction: column;
   
    
}

.settings {
    cursor: pointer;
    border: 1px solid #ffdede;
    display: flex;
    font-size: 0.8em;
    padding: 5px;
    height: fit-content;
    align-items: center;
    border-radius: 20px;
}

.settings img {
    margin-right: 6px;
    background: rgb(209, 209, 209);
    padding: 5px;
    width: 28px;
    border-radius: 50%;
}

.account {
    cursor: pointer;
    margin-top: 8px;
    border: 1px solid #ffdede;
    display: flex;
    font-size: 0.8em;
    padding: 5px;
    height: fit-content;
    align-items: center;
    border-radius: 20px;
}

.account img {
    margin-right: 6px;
    width: 28px;
    border-radius: 50%;
}

.chatroom {
    width: 77%;
    height: 100%;
    margin-left: 10px;
    border-radius: 20px;
}

.chatroom-textarea {
    z-index: 1;
    overflow-y: scroll;
    padding: 20px;
    height: 100%;
    max-height: 100%;
}

.textbox {
    height: fit-content;
    z-index: 3;
    position: relative;
    top: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-textbox {
    box-shadow: 0px 0px 5px 2px rgb(199, 199, 199);
    border-radius: 20px;
    padding: 0 5px 0px 3px;
    display: flex;
    background: #fff;
    align-items: center;
    height: 40px;
}

.brain-icon {
    padding: 9px;
    height: 100%;
}

.send-icon {
    cursor: pointer;
    background: #FF3D00;
    border-radius: 50%;
    padding: 7px;
    height: 80%;
}

.textbox-input {
    height: 40px;
    display: flex;
    align-items: center;
}

.textbox-input textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    resize: none;
    padding: 12px 10px 0 0;
    font-size: 0.8em;
    width: 600px;
    height: 100%;
    border: none;
    outline: none;
}

.audio {
    margin-left: 5px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.audio img {
    cursor: pointer;
    z-index: 4;
    box-shadow: 0px 0px 5px 2px rgb(197, 197, 197);
    background: #FF3D00;
    border-radius: 50%;
    padding: 7px;
    height: 32px;
}

/* .pulse {
    z-index: 1;
    background: #FF3D00;
    height: 32px;
    width: 32px;

} */

/* .pulse:before,
.pulse:after {
    
} */
.stop {
    cursor: pointer;
    z-index: 2;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #FF3D00;
    height: 32px;
    width: 32px;
}

.stop:before,
.stop:after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #FF3D00;
    border-radius: 20px;
    z-index: -1;
    opacity: 0.7;
}

.stop:before {
    animation: pulse 2s ease-out infinite;
}

.stop:after {
    animation: pulse 2s 1s ease-out infinite;
}

.transparent-bar {
    z-index: 2;
    width: 100%;
    height: 80px;
    position: sticky;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fceae72a, #FCEAE7);
}

@keyframes pulse {
    100%{
        transform: scale(1.7);
        opacity: 0;
    }
}


@keyframes slider {
    from{transform: translateX(5px); opacity: 0;}
    to{transform: translate(0px); opacity: 1;}
}