.user-bot-chat {
    font-size: 1em;
    padding: 30px;
}

.user-response {
    display: flex;
    align-items: center;
}

.user-profile {
    height: 26px;
}

.user-profile img {
    height: 100%;
}

.user-text {
    margin-left: 6px;
    font-size: 0.86em;
}

.bot-profile {
    height: fit-content;
    display: flex;
    margin-left: 31px;
    font-size: 0.86em;
    font-style: italic;
    color: #FF3D00;
}

.bot-name {
    display: flex;
    align-items: center;
}

.bot-arrow img {
    padding: 5px;
    height: 100%;
    display: flex;
    align-items: center;
}

.bot-text {
    font-size: 0.84em;
    margin-left: 31px;
}

.bot-response {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(199, 199, 199);
}

.last-bot-response {
    margin-top: 10px;
}

.like-copy-regen {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.like-copy {
    margin-left: 31px;
    height: 26px;
    font-size: 0.83em;
    padding: 3px 8px 3px 8px;
    width: fit-content;
    display: flex;
    align-items: center;
    background: white;
    color: #585858;
    border-radius: 30px;
}

.like-copy div {
    cursor: pointer;
    margin: 0 5px 0 5px;
}

.like-copy div:nth-child(2) {
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    padding: 0 5px 0 5px;
}

.speak,
.cancel {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    font-size: 0.83em;
    background: white;
    color: #585858;
    border-radius: 50%;
}

.loading {
    background: #cecece;
    display: flex;
    width: 60px;
    height: 25px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    padding: 0 10px 0 10px;
}

.load {
    background: rgb(59, 59, 59);
    width: 6px;
    height: 6px;
    border-radius: 20px;
}

.load:nth-child(1) {
    animation: loading 0.9s linear infinite alternate ;
}
.load:nth-child(2) {
    animation: loading 0.9s 0.1s linear infinite alternate;
}
.load:nth-child(3) {
    animation: loading 0.9s 0.2s linear infinite alternate;
}

.warning-text {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 198, 198);
    color: #ff1a1a;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}

.warning-text div {
    margin-right: 5px;
}

.regenerate {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: #fff;
    border-radius: 20px;
    font-size: 0.8em;
    width: fit-content;
    padding: 4px 10px 4px 10px;
    border: 1px solid rgb(199, 199, 199);
    cursor: pointer;
}

.regenerate div {
    margin-right: 5px;
}


@keyframes loading {
    0%{transform: translateY(4px);}
    30%{transform: translateY(0px);}
    70%{transform: translateY(-4px);}  
    100%{transform: translateY(0px);}  
}

@media only screen and (max-width: 900px){
    .user-bot-chat {
        padding: 0px 0px 10px 0px;
    }

    .bot-response {
        padding-bottom: 10px;
    }
}